Exercise no 1

database, tables, line and dates to be used:

		database:		 proc_jumes16
		tables to be used:	 process_287 and process_279
		line number:		 0202
		first date:		 2021-01-11
		last date:		 2021-01-15

Exercise 1.1):
Create one sql statement for each of the two tables. Each statement should retrieve the distinct uniquepart_ids and process_dates for all parts which were produced on the given line between the first and the last date.

Create two pandas dataframes by running these two sql statements.

Use the above two dataframes and some pandas commands in order to create two other dataframes which list the number of parts produced per day (process_date column as a proxy to dertmine the production date of each part).

In [25]:
import pyodbc
import pandas as pd 
import dateutil

In [19]:
conn = pyodbc.connect("DSN=JuP1", autocommit=True)
cursor = conn.cursor()

Database1 = "proc_jumes16"
Process_List = ["process_287", "process_279"]
Line_number = "0202"
First_date = "2021-01-11"
Last_date = "2021-01-15"

Query_sql_287 = "SELECT process_date, uniquepart_id FROM "+Database+ "." +Process_List[1]+ " WHERE cast(line_number as int) = " +Line_number+ " AND process_date BETWEEN " + '"'+First_date+'"'+ " AND " + '"'+Last_date+'"'
Query_sql_279 = "SELECT process_date, uniquepart_id FROM "+Database+ "." +Process_List[0]+ " WHERE cast(line_number as int) = " +Line_number+ " AND process_date BETWEEN " + '"'+First_date+'"'+ " AND " + '"'+Last_date+'"'

In [20]:
table1_df = pd.read_sql(Query_sql_287, conn)
table2_df = pd.read_sql(Query_sql_279, conn)

In [26]:
# Convert date from string to date times
table1_df['process_date'] = table1_df['process_date'].apply(dateutil.parser.parse, dayfirst=True)

In [31]:
Split_dates_proc279 = table1_df['process_date'].value_counts()

In [32]:
Split_dates_proc287 = table2_df['process_date'].value_counts()

In [33]:
Split_dates_proc287

2021-01-12    6208
2021-01-11    6116
2021-01-15    5372
2021-01-14    2710
2021-01-13    1451
Name: process_date, dtype: int64

In [34]:
Split_dates_proc279

2021-11-01    6246
2021-12-01    6176
2021-01-15    5500
2021-01-14    2720
2021-01-13    1439
Name: process_date, dtype: int64

In [49]:
df_table1grouped = table1_df.groupby('process_date').count()

In [50]:
df_table2grouped = table2_df.groupby('process_date').count()

In [53]:
Joined_dfs = df_table1grouped.join(df_table2grouped, lsuffix='_caller', rsuffix='_other')

In [54]:
Joined_dfs

              uniquepart_id_caller  uniquepart_id_other
process_date
2021-01-13                    1439               1451.0
2021-01-14                    2720               2710.0
2021-01-15                    5500               5372.0
2021-11-01                    6246                  NaN
2021-12-01                    6176                  NaN